* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#up-menu {
  display: flex;
  height: 65px;
  background-color: #222222;
}
#up-menu .up {
  height: 65px;
  background-color: #222222;
}
#up-menu .up .exchange-language {
  display: flex;
}
#up-menu .up .exchange-language .exchange {
  width: 120px;
}
#up-menu .up .exchange-language .exchange ul {
  width: 230px;
  margin-top: 22px;
  margin-left: 100px;
}
#up-menu .up .exchange-language .exchange ul li {
  list-style: none;
  width: 45px;
}
#up-menu .up .exchange-language .exchange ul li .a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
#up-menu .up .exchange-language .exchange ul li .a:hover {
  color: #BEBCBE;
}
#up-menu .up .exchange-language .exchange ul li ul {
  margin-top: 10px !important;
}
#up-menu .up .exchange-language .exchange ul li ul .item1 {
  width: 228px;
}
#up-menu .up .exchange-language .exchange ul li ul .item1 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .up .exchange-language .exchange ul li ul .item2 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
}
#up-menu .up .exchange-language .exchange ul li ul .item2 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 10px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul {
  width: 230px;
  margin-top: 22px;
  margin-left: 100px;
}
#up-menu .up .exchange-language .language ul li {
  list-style: none;
  width: 45px;
}
#up-menu .up .exchange-language .language ul li .a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
#up-menu .up .exchange-language .language ul li .a img {
  width: 18px;
  height: 18px;
}
#up-menu .up .exchange-language .language ul li .a:hover {
  color: rgba(255, 255, 255, 0.897);
  color: #BEBCBE;
}
#up-menu .up .exchange-language .language ul li ul {
  margin-top: 10px !important;
  height: 270px;
}
#up-menu .up .exchange-language .language ul li ul img {
  width: 18px;
  height: 18px;
}
#up-menu .up .exchange-language .language ul li ul .item3 {
  width: 228px;
  margin-top: 10px;
}
#up-menu .up .exchange-language .language ul li ul .item3 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 20px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item4 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item4 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 10px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item5 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item5 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item6 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item6 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item7 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item7 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .icons {
  display: flex;
  margin-left: 550px;
}
#up-menu .icons ul {
  display: flex;
}
#up-menu .icons ul .icon1:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 {
  list-style: none;
}
#up-menu .icons ul .icon1 a:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon1 a span {
  margin-left: 10px;
  font-size: 15px;
}
#up-menu .icons ul .icon1 a span:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 a i:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 a i {
  font-size: 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon2 {
  list-style: none;
  margin-left: 20px;
}
#up-menu .icons ul .icon2 a:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon2 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon2 a span {
  margin-left: 10px;
  font-size: 15px;
}
#up-menu .icons ul .icon2 a span:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon2 a i:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon2 a i {
  color: rgba(255, 255, 255, 0.781);
  font-size: 20px;
  margin-top: 20px;
}
#up-menu .icons ul .icon3 {
  list-style: none;
  margin-left: 30px;
  margin-top: 2px;
}
#up-menu .icons ul .icon3 a:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon3 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon3 a span {
  margin-left: 10px;
  font-size: 15px;
}
#up-menu .icons ul .icon3 a span:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon3 a i:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon3 a i {
  color: rgba(255, 255, 255, 0.781);
  font-size: 18px;
  margin-top: 20px;
}

#down-menu {
  background-color: #EF6C00;
}
#down-menu .dmenu {
  height: 90px;
  display: flex;
}
#down-menu .dmenu .img-logo {
  margin-top: 20px;
}
#down-menu .dmenu .search {
  margin-top: 20px;
  display: flex;
}
#down-menu .dmenu .search input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: white;
  width: 600px;
  height: 40px;
  border: none;
}
#down-menu .dmenu .search .serch {
  width: 162px;
  background-color: #333333;
  padding: 4px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#down-menu .dmenu .search .serch span {
  color: white;
  cursor: pointer;
  padding-left: 40px;
  font-size: 15px;
}
#down-menu .dmenu .phone-basket {
  display: flex;
  margin-left: 50px;
}
#down-menu .dmenu .phone-basket .phone {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
#down-menu .dmenu .phone-basket .phone .icon i {
  color: white;
  font-size: 30px;
  margin-top: 10px;
}
#down-menu .dmenu .phone-basket .phone .text .text1 p {
  font-size: 13px;
  color: white;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: -1px;
}
#down-menu .dmenu .phone-basket .phone .text .text2 p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
#down-menu .dmenu .phone-basket .basket {
  margin-left: 55px;
  margin-top: 15px;
  width: 100px;
}
#down-menu .dmenu .phone-basket .basket .basket:hover {
  background-color: black;
}
#down-menu .dmenu .phone-basket .basket .basketicon {
  display: flex;
}
#down-menu .dmenu .phone-basket .basket .basketicon .count-price .count {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: black;
  position: relative;
  color: white;
  border-radius: 50%;
  margin-top: 3px;
  padding-bottom: -1px;
}
#down-menu .dmenu .phone-basket .basket .basketicon .count-price .count p {
  position: absolute;
  top: -2px;
  left: 6px;
}
#down-menu .dmenu .phone-basket .basket .basketicon .count-price .price p {
  font-weight: 500;
  color: white;
}
#down-menu .dmenu .phone-basket .basket .basketicon a i {
  color: white;
  font-size: 18px;
  margin-top: 17px;
}
#down-menu .chek-card-box {
  position: absolute;
  padding-top: 3px;
  padding-bottom: 3px;
  right: 32px;
  top: 131px;
  background-color: white;
  width: 246px;
  border-radius: 5px;
  color: #333 !important;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
}
#down-menu .chek-card-box a {
  text-decoration: none;
}
#down-menu .chek-card-box a p {
  top: 5px;
  position: relative;
  color: #444;
  font-size: 14px;
  font-weight: 500;
}
#down-menu .chek-card-box .check-card {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#down-menu .chek-card-box .product-detail {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}
#down-menu .chek-card-box .product-detail .text p {
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
#down-menu .chek-card-box .product-detail .text span {
  color: #777;
  font-size: 15px;
  margin-top: 5px;
  display: block;
}
#down-menu .chek-card-box .product-detail .icon i {
  color: #c3c3c3;
  font-size: 17px;
  margin-top: 8px;
}
#down-menu .chek-card-box .subtotal {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#down-menu .chek-card-box .subtotal span {
  font-weight: 600;
  font-size: 18px;
}
#down-menu .chek-card-box .alert {
  height: 1px;
  position: relative;
  left: 26px;
  bottom: 12px;
}

.navbarr {
  background-color: #FEFEFE;
  height: 70px;
  font-size: 17px;
  font-weight: 700;
}
.navbarr a {
  font-size: 14px;
  color: black;
}
.navbarr .home {
  margin-left: 120px;
}
.navbarr .contact {
  margin-left: 40px;
}
.navbarr .about {
  margin-left: 40px;
}
.navbarr .pages {
  margin-left: 40px;
}
.navbarr .blog {
  margin-left: 40px;
}
.navbarr .dropmenu .menu {
  height: 415px;
  margin-top: 15px;
  width: 240px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 20px;
}
.navbarr .dropmenu .menu .abouts {
  margin-top: 15px;
}
.navbarr .dropmenu .menu .contacts {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .account {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .cart {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .blogs {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .product {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .wishlist {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .checkout {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}

#main .about {
  display: flex;
  width: 100%;
  height: 60px;
}
#main .about .about-us p {
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 100px;
}
#main .about .home-about {
  padding-top: 20px;
  display: flex;
  margin-left: 1100px;
}
#main .about .home-about .home a {
  text-decoration: none;
  color: rgb(127, 126, 126);
  font-size: 14px;
  font-weight: bold;
}
#main .about .home-about .drop p {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(127, 126, 126);
}
#main .about .home-about .about p {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(127, 126, 126);
}
#main .border {
  width: 100%;
}

#map {
  margin-top: 80px;
}
#map .maps {
  width: 100%;
  height: 1100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#map .maps iframe {
  width: 97%;
  margin-left: 20px;
  margin-top: 20px;
}
#map .maps #contact {
  margin-left: 20px;
  margin-top: 15px;
}
#map .maps #contact .icon {
  display: flex;
  margin-top: 30px;
}
#map .maps #contact .icon i {
  color: #EF6C00;
  font-size: 22px;
}
#map .maps #contact .icon .address p {
  font-size: 22px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: -15px;
}
#map .maps #contact .icon .address p:nth-child(2) {
  color: #444;
  font-size: 15px;
  font-weight: 400;
  margin-top: -23px;
}
#map .maps #contact .border {
  width: 100%;
  color: #222222;
  margin-top: 10px;
}
#map .maps .inputs-area form .group {
  width: 98%;
  position: relative;
  margin-top: 30px;
}
#map .maps .inputs-area form .group input,
#map .maps .inputs-area form .group textarea {
  font-size: 14px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #949494;
  outline: none;
}
#map .maps .inputs-area form .group input:focus ~ label, #map .maps .inputs-area form .group input:valid ~ label,
#map .maps .inputs-area form .group textarea:focus ~ label,
#map .maps .inputs-area form .group textarea:valid ~ label {
  top: -8px;
  font-size: 10px;
}
#map .maps .inputs-area form .group input:focus ~ .bar::before, #map .maps .inputs-area form .group input:focus ~ .bar::after,
#map .maps .inputs-area form .group textarea:focus ~ .bar::before,
#map .maps .inputs-area form .group textarea:focus ~ .bar::after {
  width: 50%;
}
#map .maps .inputs-area form .group input {
  padding: 10px 0 10px 5px;
}
#map .maps .inputs-area form .group textarea {
  height: 110px;
  padding: 10px 0 0 5px;
  resize: vertical;
}
#map .maps .inputs-area form .group label {
  color: #999;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.4s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#map .maps .inputs-area form .group .bar {
  position: relative;
  display: block;
  width: 100%;
}
#map .maps .inputs-area form .group .bar::before, #map .maps .inputs-area form .group .bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--beforeAndAfterBack, #ef6c00);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  z-index: 1;
}
#map .maps .inputs-area form .group .bar::before {
  left: 50%;
}
#map .maps .inputs-area form .group .bar::after {
  right: 50%;
}
#map .maps .inputs-area form .group .validation {
  font-size: 10px;
  color: red;
  transition: 0.4s;
  opacity: 0;
}
#map .maps .inputs-area form button {
  width: 100px;
  height: 45px;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 40px;
  background-color: #ef6c00;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

#footer .sophia {
  background-color: #F7F7F7;
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
#footer .sophia .general {
  display: flex;
  margin-left: 100px;
}
#footer .sophia .general .logo-text {
  margin-top: 70px;
}
#footer .sophia .general .logo-text .text1 {
  font-size: 17px;
  margin-top: 10px;
}
#footer .sophia .general .logo-text .text1 p {
  margin-bottom: -1px;
}
#footer .sophia .general .logo-text .text1 p:nth-child(4) {
  margin-bottom: 5px;
}
#footer .sophia .general .logo-text .text1 p:nth-child(5) {
  cursor: pointer;
}
#footer .sophia .general .services {
  margin-top: 75px;
  margin-left: 40px;
}
#footer .sophia .general .services p1 {
  font-size: 18px;
  font-weight: bold;
}
#footer .sophia .general .services p {
  margin-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
}
#footer .sophia .general .subscribe {
  margin-top: 75px;
  margin-left: 90px;
}
#footer .sophia .general .subscribe p1 {
  font-size: 18px;
  font-weight: bold;
}
#footer .sophia .general .subscribe input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgb(204, 202, 202);
}
#footer .sophia .general .subscribe .button button {
  background-color: #EF6C00;
  width: 300px;
  height: 50px;
  border-radius: 3px;
  border: none;
  margin-top: 20px;
}
#footer .sophia .general .subscribe .button button span {
  color: white;
  font-weight: bold;
}
#footer .sophia .general .contact {
  margin-top: 75px;
  margin-left: 25px;
}
#footer .sophia .general .contact p {
  font-size: 18px;
  font-weight: bold;
}
#footer .sophia .general .contact .icon1 i span {
  font-size: 12px;
}
#footer .sophia .general .contact .icon2 {
  margin-top: 5px;
}
#footer .sophia .general .contact .icon2 i span {
  font-size: 12px;
}
#footer .sophia .general .contact .icon3 {
  margin-top: 5px;
}
#footer .sophia .general .contact .icon3 i a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}
#footer .sophia .general .contact .icons {
  display: flex;
  margin-top: 25px;
  gap: 20px;
}
#footer .sophia .general .contact .icons .icons1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
#footer .sophia .general .contact .icons .icons1 a {
  color: #000;
}
#footer .sophia .general .contact .icons .icons1 a i {
  margin-left: 9px;
}
#footer .sophia .general .contact .icons .icons2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
#footer .sophia .general .contact .icons .icons2 a {
  color: #000;
}
#footer .sophia .general .contact .icons .icons2 a i {
  margin-left: 8px;
}
#footer .sophia .general .contact .icons .icons3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
#footer .sophia .general .contact .icons .icons3 a {
  color: #000;
}
#footer .sophia .general .contact .icons .icons3 a i {
  margin-left: 6px;
}
#footer .sophia .general .contact .icons .icons4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
#footer .sophia .general .contact .icons .icons4 a {
  color: #000;
}
#footer .sophia .general .contact .icons .icons4 a i {
  margin-left: 5px;
}/*# sourceMappingURL=contact.css.map */