* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#up-menu {
  display: flex;
  height: 65px;
  background-color: #222222;
}
#up-menu .up {
  height: 65px;
  background-color: #222222;
}
#up-menu .up .exchange-language {
  display: flex;
}
#up-menu .up .exchange-language .exchange {
  width: 120px;
}
#up-menu .up .exchange-language .exchange ul {
  width: 230px;
  margin-top: 22px;
  margin-left: 100px;
}
#up-menu .up .exchange-language .exchange ul li {
  list-style: none;
  width: 45px;
}
#up-menu .up .exchange-language .exchange ul li .a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
#up-menu .up .exchange-language .exchange ul li .a:hover {
  color: #BEBCBE;
}
#up-menu .up .exchange-language .exchange ul li ul {
  margin-top: 10px !important;
}
#up-menu .up .exchange-language .exchange ul li ul .item1 {
  width: 228px;
}
#up-menu .up .exchange-language .exchange ul li ul .item1 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .up .exchange-language .exchange ul li ul .item2 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
}
#up-menu .up .exchange-language .exchange ul li ul .item2 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 10px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul {
  width: 230px;
  margin-top: 22px;
  margin-left: 100px;
}
#up-menu .up .exchange-language .language ul li {
  list-style: none;
  width: 45px;
}
#up-menu .up .exchange-language .language ul li .a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
#up-menu .up .exchange-language .language ul li .a img {
  width: 18px;
  height: 18px;
}
#up-menu .up .exchange-language .language ul li .a:hover {
  color: rgba(255, 255, 255, 0.897);
  color: #BEBCBE;
}
#up-menu .up .exchange-language .language ul li ul {
  margin-top: 10px !important;
  height: 270px;
}
#up-menu .up .exchange-language .language ul li ul img {
  width: 18px;
  height: 18px;
}
#up-menu .up .exchange-language .language ul li ul .item3 {
  width: 228px;
  margin-top: 10px;
}
#up-menu .up .exchange-language .language ul li ul .item3 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 20px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item4 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item4 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 10px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item5 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item5 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item6 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item6 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .up .exchange-language .language ul li ul .item7 {
  width: 228px;
  border-top: 1px dashed #f6f6f6;
  margin-top: 15px;
}
#up-menu .up .exchange-language .language ul li ul .item7 p {
  background-color: #F58100;
  font-size: 11px;
  color: white;
  width: 25px;
  height: 18px;
  padding: 1px;
  margin-top: 15px;
  font-weight: 500;
}
#up-menu .icons {
  display: flex;
  margin-left: 550px;
}
#up-menu .icons ul {
  display: flex;
}
#up-menu .icons ul .icon1:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 {
  list-style: none;
}
#up-menu .icons ul .icon1 a:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon1 a span {
  margin-left: 10px;
  font-size: 15px;
}
#up-menu .icons ul .icon1 a span:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 a i:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon1 a i {
  font-size: 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon2 {
  list-style: none;
  margin-left: 20px;
}
#up-menu .icons ul .icon2 a:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon2 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon2 a span {
  margin-left: 10px;
  font-size: 15px;
}
#up-menu .icons ul .icon2 a span:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon2 a i:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon2 a i {
  color: rgba(255, 255, 255, 0.781);
  font-size: 20px;
  margin-top: 20px;
}
#up-menu .icons ul .icon3 {
  list-style: none;
  margin-left: 30px;
  margin-top: 2px;
}
#up-menu .icons ul .icon3 a:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon3 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
}
#up-menu .icons ul .icon3 a span {
  margin-left: 10px;
  font-size: 15px;
}
#up-menu .icons ul .icon3 a span:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon3 a i:hover {
  color: #BEBCBE;
}
#up-menu .icons ul .icon3 a i {
  color: rgba(255, 255, 255, 0.781);
  font-size: 18px;
  margin-top: 20px;
}

#down-menu {
  background-color: #EF6C00;
}
#down-menu .dmenu {
  height: 90px;
  display: flex;
}
#down-menu .dmenu .img-logo {
  margin-top: 20px;
}
#down-menu .dmenu .search {
  margin-top: 20px;
  display: flex;
}
#down-menu .dmenu .search input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: white;
  width: 600px;
  height: 40px;
  border: none;
}
#down-menu .dmenu .search .serch {
  width: 162px;
  background-color: #333333;
  padding: 4px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#down-menu .dmenu .search .serch span {
  color: white;
  cursor: pointer;
  padding-left: 40px;
  font-size: 15px;
}
#down-menu .dmenu .phone-basket {
  display: flex;
  margin-left: 50px;
}
#down-menu .dmenu .phone-basket .phone {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
#down-menu .dmenu .phone-basket .phone .icon i {
  color: white;
  font-size: 30px;
  margin-top: 10px;
}
#down-menu .dmenu .phone-basket .phone .text .text1 p {
  font-size: 13px;
  color: white;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: -1px;
}
#down-menu .dmenu .phone-basket .phone .text .text2 p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
#down-menu .dmenu .phone-basket .basket {
  margin-left: 55px;
  margin-top: 15px;
  width: 100px;
}
#down-menu .dmenu .phone-basket .basket .basket:hover {
  background-color: black;
}
#down-menu .dmenu .phone-basket .basket .basketicon {
  display: flex;
}
#down-menu .dmenu .phone-basket .basket .basketicon .count-price .count {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: black;
  position: relative;
  color: white;
  border-radius: 50%;
  margin-top: 3px;
  padding-bottom: -1px;
}
#down-menu .dmenu .phone-basket .basket .basketicon .count-price .count p {
  position: absolute;
  top: -2px;
  left: 6px;
}
#down-menu .dmenu .phone-basket .basket .basketicon .count-price .price p {
  font-weight: 500;
  color: white;
}
#down-menu .dmenu .phone-basket .basket .basketicon a i {
  color: white;
  font-size: 18px;
  margin-top: 17px;
}
#down-menu .spCard-dropdown {
  position: absolute;
  padding-top: 3px;
  padding-bottom: 3px;
  right: 32px;
  top: 131px;
  background-color: white;
  width: 246px;
  border-radius: 5px;
  color: #333 !important;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
}
#down-menu .spCard-dropdown a {
  text-decoration: none;
}
#down-menu .spCard-dropdown a p {
  top: 14px;
  position: relative;
  color: #444;
  font-size: 14px;
  font-weight: 500;
}
#down-menu .spCard-dropdown .count {
  bottom: 65px;
  left: 180px;
  position: absolute;
  color: #444;
  font-size: 14px;
  font-weight: 500;
}
#down-menu .spCard-dropdown .alert {
  height: 1px;
  position: relative;
  left: 26px;
  bottom: 12px;
}

.navbarr {
  background-color: #FEFEFE;
  height: 70px;
  font-size: 17px;
  font-weight: 700;
}
.navbarr a {
  font-size: 14px;
  color: black;
}
.navbarr .home {
  margin-left: 120px;
}
.navbarr .contact {
  margin-left: 40px;
}
.navbarr .about {
  margin-left: 40px;
}
.navbarr .pages {
  margin-left: 40px;
}
.navbarr .blog {
  margin-left: 40px;
}
.navbarr .dropmenu .menu {
  height: 415px;
  margin-top: 15px;
  width: 240px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 20px;
}
.navbarr .dropmenu .menu .abouts {
  margin-top: 15px;
}
.navbarr .dropmenu .menu .contacts {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .account {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .cart {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .blogs {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .product {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .wishlist {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}
.navbarr .dropmenu .menu .checkout {
  margin-top: 16px;
  border-top: 1px dashed #f6f6f6;
}

#main .about {
  display: flex;
  width: 100%;
  height: 60px;
}
#main .about .about-us p {
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 100px;
}
#main .about .home-about {
  padding-top: 20px;
  display: flex;
  margin-left: 1100px;
}
#main .about .home-about .home a {
  text-decoration: none;
  color: rgb(127, 126, 126);
  font-size: 14px;
  font-weight: bold;
}
#main .about .home-about .drop p {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(127, 126, 126);
}
#main .about .home-about .about p {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(127, 126, 126);
}
#main .border {
  width: 100%;
}

#product-details {
  margin-top: 59px;
}
#product-details .modls .modal-header {
  border: none;
}
#product-details .photo-product {
  border-radius: 4px;
  position: relative;
  width: 452px;
  height: 488px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}
#product-details .photo-product i {
  position: absolute;
  bottom: 18px;
  left: 20px;
}
#product-details .photo-product img {
  padding: 40px;
  width: 488px;
  height: 488px;
}
#product-details .product-area .product-info {
  padding-bottom: 15px;
  border-bottom: 1px dashed #ddd;
}
#product-details .product-area .product-info h2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 465px;
  color: #383838;
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0.02em;
}
#product-details .product-area .product-info del {
  color: #777;
  font-size: 17px;
  line-height: 1;
  text-decoration: line-through;
  font-weight: bold;
}
#product-details .product-area .product-info span {
  padding-left: 5px;
  color: #f33927 !important;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 1;
  font-weight: bold;
}
#product-details .product-area .product-info h3 {
  font-size: 26px;
  font-weight: 400;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
#product-details .product-area .product-info p {
  color: #777 !important;
  line-height: 26px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 380px;
}
#product-details .product-area p {
  margin-top: 10px !important;
}
#product-details .product-area p span:nth-child(1) {
  color: #777 !important;
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
#product-details .product-area p span:nth-child(2) {
  font-size: 14px;
  color: #333;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
#product-details .product-area .quantity span {
  color: #777 !important;
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
#product-details .product-area .product-count {
  margin-top: 6px;
}
#product-details .product-area .product-count button {
  width: 40px;
  height: 40px;
  background-color: white;
}
#product-details .product-area .product-count button i {
  font-size: 24px;
  color: #777 !important;
  font-size: 19px;
}
#product-details .product-area .product-count input {
  width: 48px;
  text-align: center;
  background-color: #fff;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom: none;
}
#product-details .product-area .buttons {
  margin-top: 15px;
}
#product-details .product-area .buttons button {
  height: 46px;
  border: none;
  cursor: pointer;
  background-color: #ef6c00;
}
#product-details .product-area .buttons button:nth-child(1) {
  width: 152px;
}
#product-details .product-area .buttons button:nth-child(2) {
  width: 125px;
}
#product-details .product-area .buttons button span {
  font-weight: 500;
  font-family: Roboto, Helvetica Neue, sans-serif;
  color: #fff;
  font-size: 14px;
}
#product-details .info-bar {
  width: 260px;
  height: 491px;
  border: 1px solid #ddd;
  padding: 0 20px;
}
#product-details .info-bar .cardss {
  box-shadow: none !important;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
  width: 218px;
  height: 117px;
  margin-right: 33px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#product-details .info-bar .cardss .text-mutled {
  margin-left: 15px;
  width: 141px;
}
#product-details .info-bar .cardss .text-mutled span {
  position: absolute;
  top: 35px;
  color: #777 !important;
  font-size: 14px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
#product-details .info-bar .cardss .text-mutled p {
  width: 178px;
  top: 10px;
  position: absolute;
  font-weight: 600;
  font-family: Roboto, Helvetica Neue, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
}
#product-details .info-bar .cardss .text-mutled .span-card {
  position: absolute;
  top: 60px;
}
#product-details .info-bar .cardss .text-mutled .icon-card {
  position: absolute;
  left: 8px;
}
#product-details .info-bar .time {
  border: none;
}
#product-details .info-bar i {
  position: absolute;
  color: #333;
  font-size: 33px;
  left: 2px;
  top: 24px;
}
#product-details .sale-widget {
  position: relative;
  width: 260px;
  height: 229px;
  background-color: #ef6c00;
  margin-top: 25px;
}
#product-details .sale-widget .sale-widget1 {
  display: flex;
  justify-content: center;
}
#product-details .sale-widget .sale-widget1 span {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  font-size: 36px;
}
#product-details .sale-widget .sale-widget2 {
  display: flex;
  justify-content: center;
}
#product-details .sale-widget .sale-widget2 span {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
#product-details .sale-widget .discount {
  position: absolute;
  bottom: 65px;
  left: 60px;
}
#product-details .sale-widget .discount span {
  color: #2d2a25;
  font-size: 77px;
  font-weight: 600;
}
#product-details .sale-widget .div-procent {
  height: 70px;
  position: relative;
}
#product-details .sale-widget .div-procent span:nth-child(1) {
  position: absolute;
  font-size: 3.111em;
  font-weight: 500;
  left: 152px;
  bottom: 22px;
  color: #fff;
}
#product-details .sale-widget .div-procent span:nth-child(3) {
  position: absolute;
  color: #fff;
  right: 74px;
  font-weight: 500;
  font-size: 23px;
  bottom: 9px;
}
#product-details .sale-widget .div-procent p {
  width: 220px;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  top: 63px;
  left: 39px;
}
#product-details .swiper-wrapper {
  display: flex;
  margin-top: 18px;
  gap: 29px;
}
#product-details .swiper-wrapper .mat-card {
  height: 142px;
  width: 145px;
  padding: 16px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px;
}
#product-details .swiper-wrapper .mat-card img {
  width: 110px;
  height: 110px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}/*# sourceMappingURL=ProductDetail.css.map */