* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#up-menu {
    display: flex;
    height: 65px;
    background-color: #222222;

    .up {
        height: 65px;
        background-color: #222222;


        .exchange-language {
            display: flex;

            .exchange {
                width: 120px;

                ul {
                    width: 230px;
                    margin-top: 22px;
                    margin-left: 100px;

                    li {
                        list-style: none;
                        width: 45px;

                        .a {
                            color: rgba(255, 255, 255, 0.781);
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 14px;
                        }

                        .a:hover {
                            color: #BEBCBE
                        }

                        ul {

                            margin-top: 10px !important;



                            .item1 {
                                width: 228px;

                                p {
                                    background-color: #F58100;
                                    font-size: 11px;
                                    color: white;
                                    width: 25px;
                                    height: 18px;
                                    padding: 1px;
                                    margin-top: 15px;
                                    font-weight: 500;
                                }

                            }

                            .item2 {
                                width: 228px;
                                border-top: 1px dashed #f6f6f6;

                                p {
                                    background-color: #F58100;
                                    font-size: 11px;
                                    color: white;
                                    width: 25px;
                                    height: 18px;
                                    padding: 1px;
                                    margin-top: 10px;
                                    font-weight: 500;
                                }
                            }
                        }

                    }

                }

            }


            .language {
                ul {
                    width: 230px;
                    margin-top: 22px;
                    margin-left: 100px;

                    li {
                        list-style: none;
                        width: 45px;

                        .a {
                            color: rgba(255, 255, 255, 0.781);
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 14px;

                            img {
                                width: 18px;
                                height: 18px;
                            }
                        }

                        .a:hover {
                            color: rgba(255, 255, 255, 0.897);
                            color: #BEBCBE
                        }

                        ul {

                            margin-top: 10px !important;
                            height: 270px;

                            img {
                                width: 18px;
                                height: 18px;
                            }



                            .item3 {
                                width: 228px;
                                margin-top: 10px;

                                p {
                                    background-color: #F58100;
                                    font-size: 11px;
                                    color: white;
                                    width: 25px;
                                    height: 18px;
                                    padding: 1px;
                                    margin-top: 20px;
                                    font-weight: 500;
                                }

                            }

                            .item4 {
                                width: 228px;
                                border-top: 1px dashed #f6f6f6;
                                margin-top: 15px;

                                p {
                                    background-color: #F58100;
                                    font-size: 11px;
                                    color: white;
                                    width: 25px;
                                    height: 18px;
                                    padding: 1px;
                                    margin-top: 10px;
                                    font-weight: 500;
                                }
                            }

                            .item5 {
                                width: 228px;
                                border-top: 1px dashed #f6f6f6;
                                margin-top: 15px;

                                p {
                                    background-color: #F58100;
                                    font-size: 11px;
                                    color: white;
                                    width: 25px;
                                    height: 18px;
                                    padding: 1px;
                                    margin-top: 15px;
                                    font-weight: 500;
                                }

                            }

                            .item6 {
                                width: 228px;
                                border-top: 1px dashed #f6f6f6;
                                margin-top: 15px;

                                p {
                                    background-color: #F58100;
                                    font-size: 11px;
                                    color: white;
                                    width: 25px;
                                    height: 18px;
                                    padding: 1px;
                                    margin-top: 15px;
                                    font-weight: 500;
                                }

                            }

                            .item7 {
                                width: 228px;
                                border-top: 1px dashed #f6f6f6;
                                margin-top: 15px;

                                p {
                                    background-color: #F58100;
                                    font-size: 11px;
                                    color: white;
                                    width: 25px;
                                    height: 18px;
                                    padding: 1px;
                                    margin-top: 15px;
                                    font-weight: 500;
                                }

                            }
                        }

                    }

                }
            }
        }
    }



    .icons {
        display: flex;
        margin-left: 550px;

        ul {
            display: flex;

            .icon1:hover {
                color: #BEBCBE
            }


            .icon1 {
                list-style: none;

                a:hover {
                    color: #BEBCBE
                }

                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.781);

                    span {
                        margin-left: 10px;
                        font-size: 15px;
                    }

                    span:hover {
                        color: #BEBCBE
                    }

                    i:hover {
                        color: #BEBCBE
                    }

                    i {

                        font-size: 20px;
                        margin-top: 20px;
                        color: rgba(255, 255, 255, 0.781);

                    }
                }
            }

            .icon2 {
                list-style: none;
                margin-left: 20px;

                a:hover {
                    color: #BEBCBE
                }

                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.781);

                    span {
                        margin-left: 10px;
                        font-size: 15px;
                    }


                    span:hover {
                        color: #BEBCBE
                    }

                    i:hover {
                        color: #BEBCBE
                    }

                    i {
                        color: rgba(255, 255, 255, 0.781);
                        font-size: 20px;
                        margin-top: 20px;

                    }
                }
            }


            .icon3 {
                list-style: none;
                margin-left: 30px;
                margin-top: 2px;

                a:hover {
                    color: #BEBCBE
                }


                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.781);

                    span {
                        margin-left: 10px;
                        font-size: 15px;
                    }


                    span:hover {
                        color: #BEBCBE
                    }

                    i:hover {
                        color: #BEBCBE
                    }

                    i {
                        color: rgba(255, 255, 255, 0.781);
                        font-size: 18px;
                        margin-top: 20px;

                    }
                }
            }
        }
    }
}

#down-menu {
    background-color: #EF6C00;

    .dmenu {
        height: 90px;
        display: flex;


        .img-logo {
            margin-top: 20px;

        }

        .search {
            margin-top: 20px;
            display: flex;

            input {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: white;
                width: 600px;
                height: 40px;
                border: none;
            }

            .serch {
                width: 162px;
                background-color: #333333;
                padding: 4px;

                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;

                span {
                    color: white;
                    cursor: pointer;
                    padding-left: 40px;
                    font-size: 15px;
                }
            }

        }

        .phone-basket {
            display: flex;
            margin-left: 50px;

            .phone {

                .icon {

                    i {
                        color: white;
                        font-size: 30px;
                        margin-top: 10px;
                    }
                }

                .text {

                    .text1 {

                        p {
                            font-size: 13px;
                            color: white;
                            font-weight: 500;
                            margin-left: 5px;
                            margin-bottom: -1px;
                        }
                    }

                    .text2 {

                        p {
                            font-size: 20px;
                            color: white;
                            font-weight: bold;
                            margin-left: 5px;
                        }
                    }
                }

                display: flex;
                margin-top: 20px;
                margin-left: 20px;


            }

            .basket {
                margin-left: 55px;
                margin-top: 15px;
                width: 100px;

                .basket:hover {
                    background-color: black;
                }



                .basketicon {
                    display: flex;

                    .count-price {

                        .count {
                            width: 20px;
                            height: 20px;
                            text-align: center;
                            background-color: black;
                            position: relative;
                            color: white;
                            border-radius: 50%;
                            margin-top: 3px;
                            padding-bottom: -1px;

                            p {
                                position: absolute;
                                top: -2px;
                                left: 6px;
                            }
                        }

                        .price {

                            p {
                                font-weight: 500;
                                color: white;
                            }
                        }
                    }

                    a {
                        i {
                            color: white;
                            font-size: 18px;
                            margin-top: 17px;
                        }


                    }

                }
            }


        }

    }

    .spCard-dropdown {

        position: absolute;
        padding-top: 3px;
        padding-bottom: 3px;
        right: 32px;
        top: 131px;
        background-color: white;
        width: 246px;
        border-radius: 5px;
        color: #333 !important;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        z-index: 5;

        a {
            text-decoration: none;

            p {
                top: 14px;
                position: relative;
                color: #444;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .count {

            bottom: 65px;
            left: 180px;
            position: absolute;
            color: #444;
            font-size: 14px;
            font-weight: 500;
        }

        .alert {
            height: 1px;
            position: relative;
            left: 26px;
            bottom: 12px;
        }

    }

}



.navbarr {
    background-color: #FEFEFE;
    height: 70px;
    font-size: 17px;
    font-weight: 700;



    a {
        font-size: 14px;
        color: black;

    }

    .homee {}

    .home {
        margin-left: 120px;
    }


    .contact {
        margin-left: 40px;
    }

    .about {
        margin-left: 40px;
    }

    .pages {
        margin-left: 40px;
    }

    .blog {
        margin-left: 40px;
    }

    .dropmenu {

        .menu {
            height: 415px;
            margin-top: 15px;
            width: 240px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-left: 20px;

            .homes {}

            .abouts {
                margin-top: 15px;
            }


            .contacts {
                margin-top: 16px;
                border-top: 1px dashed #f6f6f6;
            }

            .account {
                margin-top: 16px;
                border-top: 1px dashed #f6f6f6;
            }

            .cart {
                margin-top: 16px;
                border-top: 1px dashed #f6f6f6;
            }

            .blogs {
                margin-top: 16px;
                border-top: 1px dashed #f6f6f6;
            }

            .product {
                margin-top: 16px;
                border-top: 1px dashed #f6f6f6;
            }

            .wishlist {
                margin-top: 16px;
                border-top: 1px dashed #f6f6f6;
            }

            .checkout {
                margin-top: 16px;
                border-top: 1px dashed #f6f6f6;
            }
        }
    }
}


#main {

    .about {
        display: flex;
        width: 100%;
        height: 60px;

        .about-us {

            p {
                padding-top: 20px;
                font-size: 14px;
                font-weight: bold;
                padding-left: 100px;
            }
        }

        .home-about {
            padding-top: 20px;
            display: flex;
            margin-left: 1100px;

            .home {
                a {
                    text-decoration: none;
                    color: rgb(127, 126, 126);
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .drop {

                p {
                    padding-left: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: rgb(127, 126, 126);
                }
            }

            .about {

                p {
                    padding-left: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: rgb(127, 126, 126);
                }
            }
        }
    }

    .border {
        width: 100%;
    }
}





#product-details {
    .modls {
        .modal-header {
            border: none;
        }
    }

    margin-top: 59px;

    .photo-product {
        border-radius: 4px;
        position: relative;
        width: 452px;
        height: 488px;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, .12) !important;

        i {
            position: absolute;
            bottom: 18px;
            left: 20px;

        }

        img {
            padding: 40px;
            width: 488px;
            height: 488px;
        }

    }

    .product-area {
        .product-info {
            h2 {
                font-family: Roboto, Arial, Helvetica, sans-serif;
                width: 465px;
                color: #383838;
                font-weight: 700;
                font-size: 36px;
                text-transform: capitalize;
                line-height: 1;
                letter-spacing: .02em;
            }

            del {
                color: #777;
                font-size: 17px;
                line-height: 1;
                text-decoration: line-through;
                font-weight: bold;
            }

            span {
                padding-left: 5px;
                color: #f33927 !important;
                font-size: 24px;
                text-transform: capitalize;
                line-height: 1;
                font-weight: bold;
            }

            h3 {
                font-size: 26px;
                font-weight: 400;
                font-family: Roboto, Arial, Helvetica, sans-serif;
                margin: 10px 0;
            }

            p {
                color: #777 !important;
                line-height: 26px;
                font-family: Roboto, Arial, Helvetica, sans-serif;
                width: 380px;
            }

            padding-bottom: 15px;
            border-bottom: 1px dashed #ddd;
        }

        p {
            span {
                &:nth-child(1) {
                    color: #777 !important;
                    font-size: 14px;
                    font-family: Roboto, Arial, Helvetica, sans-serif;

                }

                &:nth-child(2) {
                    font-size: 14px;
                    color: #333;
                    font-family: Roboto, Arial, Helvetica, sans-serif;

                }
            }

            margin-top: 10px !important;
        }

        .quantity {
            span {
                color: #777 !important;
                font-size: 14px;
                font-family: Roboto, Arial, Helvetica, sans-serif;
            }
        }

        .product-count {
            margin-top: 6px;

            button {
                width: 40px;
                height: 40px;
                background-color: white;

                i {
                    font-size: 24px;
                    color: #777 !important;
                    font-size: 19px;
                }
            }

            input {
                width: 48px;
                text-align: center;
                background-color: #fff;
                height: 42px;
                border: 1px solid #d9d9d9;
                border-top: none;
                border-bottom: none;
            }
        }

        .buttons {
            margin-top: 15px;

            button {
                &:nth-child(1) {
                    width: 152px;
                }

                &:nth-child(2) {
                    width: 125px;
                }

                height: 46px;
                border: none;
                cursor: pointer;
                background-color: #ef6c00;

                span {
                    font-weight: 500;
                    font-family: Roboto, Helvetica Neue, sans-serif;
                    color: #fff;
                    font-size: 14px;

                }
            }
        }

    }


    .info-bar {

        width: 260px;
        height: 491px;
        border: 1px solid #ddd;
        padding: 0 20px;



        .cardss {
            box-shadow: none !important;
            padding: 20px 0;
            border-bottom: 1px solid #ddd;
            position: relative;
            width: 218px;
            height: 117px;
            margin-right: 33px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            .text-mutled {


                margin-left: 15px;
                width: 141px;

                span {

                    position: absolute;
                    top: 35px;
                    color: #777 !important;
                    font-size: 14px;
                    font-family: Roboto, Helvetica Neue, sans-serif;
                }

                p {
                    width: 178px;
                    top: 10px;
                    position: absolute;
                    font-weight: 600;
                    font-family: Roboto, Helvetica Neue, sans-serif;
                    color: rgba(0, 0, 0, .87);
                    font-size: 1rem;
                }

                .span-card {
                    position: absolute;
                    top: 60px;
                }

                .icon-card {
                    position: absolute;
                    left: 8px;
                }
            }

        }

        .time {

            border: none;
        }

        i {
            position: absolute;
            color: #333;
            font-size: 33px;
            left: 2px;
            top: 24px;
        }

    }

    .sale-widget {
        position: relative;
        width: 260px;
        height: 229px;
        background-color: #ef6c00;
        margin-top: 25px;

        .sale-widget1 {
            display: flex;
            justify-content: center;

            span {
                font-family: Roboto, Arial, Helvetica, sans-serif;
                font-size: 36px;
                font-weight: 600;
                color: #fff;
                font-size: 36px;
            }

        }

        .sale-widget2 {
            display: flex;

            justify-content: center;

            span {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                font-family: Roboto, Arial, Helvetica, sans-serif;
            }


        }

        .discount {
            position: absolute;
            bottom: 65px;
            left: 60px;

            span {
                color: #2d2a25;
                font-size: 77px;
                font-weight: 600;

            }



        }

        .div-procent {
            height: 70px;
            position: relative;

            span {
                &:nth-child(1) {
                    position: absolute;
                    font-size: 3.111em;
                    font-weight: 500;
                    left: 152px;
                    bottom: 22px;
                    color: #fff;

                }

                &:nth-child(3) {
                    position: absolute;
                    color: #fff;
                    right: 74px;
                    font-weight: 500;
                    font-size: 23px;
                    bottom: 9px;


                }

            }

            p {
                width: 220px;
                color: #fff;
                line-height: 24px;
                font-weight: 300;
                font-size: 15px;
                position: absolute;

                top: 63px;
                left: 39px;
            }

        }
    }

    .swiper-wrapper {
        display: flex;
        margin-top: 18px;
        gap: 29px;

        .mat-card {
            height: 142px;
            width: 145px;
            padding: 16px;
            box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, .12) !important;
            border-radius: 4px;

            img {
                width: 110px;
                height: 110px;
                margin-bottom: 12px;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer
            }
        }
    }


}